

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="text-center">
        <h2 class="text-danger">Nguyễn Ngọc Linh - Trần Đình Huân</h2>
        <h2 class="text-danger">Lecturer: Trần Thuận Nghĩa</h2>
    
        <img src="../../../assets/AutoHintTheme/img/superdev.jpg" alt="" id="picture" class="center">
    
    </div>
</body>
</html>