<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div class="col-md-4 text-right">
        <h2 class="text-success">Students:</h2>
        <h2 class="text-success">Lecturer: </h2>
    </div>
    <div class="col-md-8">
        <h2 class="text-danger"> Nguyễn Ngọc Linh & Trần Đình Huân</h2>
        <h2 class="text-danger">Trần Thuận Nghĩa</h2>
    </div>
    <div class="text-center">
        <img src="../../../assets/AutoHintTheme/img/superdev.jpg" alt="" id="picture" class="center">
    </div>
</body>

</html>