<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body style="height: 690px; background-color: white;">
    <div id="body" style="background-image: url('../assets/AutoHintTheme/img/hinh1.png');background-repeat: no-repeat; width: 579px;height: 690px;margin: 0 auto;">
        <div style="font-size: 17px; font-weight: bold; color: rgb(0, 0, 0); padding-top: 440px;padding-left: 413px;">
            <p>Nguyễn Ngọc Linh</p>
            <p>Trần Đình Huân</p>
        </div>
    </div>
</body>

</html>