<!-- -------------- Topbar Menu Wrapper -------------- -->

<!-- -------------- /Topbar Menu Wrapper -------------- -->


<!-- -------------- Content1 -------------- -->
<div id="content" class="animated fadeIn">
    <div class="row">

        <div class="col-md-12">

            <!-- -------------- Standard Fields -------------- -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">user Information</span>
                </div>
                <div class="panel-body">

                    <div class="form-horizontal" role="form">

                        <div class="form-group">

                            <label for="inputStandard" class="col-lg-3 control-label">Username</label>

                            <div class="col-lg-8">
                                <div>
                                    <input type="text" class="form-control" [(ngModel)]="user.Username" name="Name" />
                                </div>
                            </div>

                            <br/>
                            <br/>

                            <label for="inputStandard" class="col-lg-3 control-label">Password</label>

                            <div class="col-lg-8">
                                <div>
                                    <input type="password" class="form-control" [(ngModel)]="user.Password" name="Name" />
                                </div>
                            </div>

                            <br/>
                            <br/>

                            <label for="inputStandard" class="col-lg-3 control-label">First Name</label>

                            <div class="col-lg-8">
                                <div>
                                    <input type="text" class="form-control" [(ngModel)]="user.FirstName" name="Name" />
                                </div>
                            </div>

                            <br/>
                            <br/>

                            <label for="inputStandard" class="col-lg-3 control-label">LastName</label>

                            <div class="col-lg-8">
                                <div>
                                    <input type="text" class="form-control" [(ngModel)]="user.LastName" name="Name" />
                                </div>
                            </div>

                            <br/>
                            <br/>
                            <label for="inputStandard" class="col-lg-3 control-label">Description</label>

                            <div class="col-lg-8">
                                <div>
                                    <input type="text" class="form-control" [(ngModel)]="user.Description" name="Name" />
                                </div>
                            </div>

                            <br/>
                            <br/>
                            <label for="inputStandard" class="col-lg-3 control-label">Role</label>
                            <div class="col-lg-8">
                                <select class="btn btn-primary" [(ngModel)]="user.RoleId">
                                    <option *ngFor='let role of roles' [ngValue]=role.Id name="something">{{role.Name}}</option>
                                </select>
                            </div>
                            <br/>
                            <br/>
                            <label for="inputStandard" class="col-lg-3 control-label">IsActivate</label>
                            <div class="col-lg-8">
                                <div class="switch switch-info switch-inline">
                                    <input id="exampleCheckboxSwitch1" type="checkbox" checked="" [(ngModel)]=user.IsActived />
                                    <label for="exampleCheckboxSwitch1"></label>
                                </div>
                            </div>
                            <br/>
                            <br/>
                            <label for="inputStandard" class="col-lg-3 control-label">IsDeleted</label>
                            <div class="col-lg-8">
                                <div class="switch switch-info switch-inline">
                                    <input id="exampleCheckboxSwitch2" type="checkbox" checked="" [(ngModel)]=user.IsDeleted/>
                                    <label for="exampleCheckboxSwitch2"></label>
                                </div>
                            </div>
                            <br/>
                            <br/>
                            <div class="col-lg-12  btn-submit ">
                                <button class="btn btn-primary" (click)="save(user)">Save</button>
                            </div>
                        </div>


                    </div>





                </div>


            </div>

        </div>
    </div>
</div>
<!-- -------------- /Content1 -------------- -->