<div class="form">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group box">
          <label for="usr">First Name:</label>
          <input type="text" class="form-control" id="usr" [(ngModel)]="role.FirstName">
        </div>
      </div>
  
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group box">
          <label for="pwd">Last Name:</label>
          <input type="" class="form-control" id="pwd" [(ngModel)]="role.LastName">
        </div>
      </div>
  
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group box">
          <label for="usr">Code:</label>
          <input type="text" class="form-control" id="usr" [(ngModel)]="role.Code">
        </div>
      </div>
  
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group box">
          <label for="usr">Description:</label>
          <input type="text" class="form-control" id="usr" [(ngModel)]="role.Description">
        </div>
      </div>
  
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="form-group box">
          <label for="pwd">InOuts:</label>
          <input type="" class="form-control" id="pwd" [(ngModel)]="role.InOuts">
        </div>
      </div>
  
    </div>
  
    <div class="myBtn">
        <button class="btn btn-primary" (click)="save()">Save</button>
      </div>
  
  </div>