<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="background-color: black; height: 70px;">
                <div class="col-md-6" style="padding-top: 5px;">
                    <h2 style="color:white;">
                        List Of Orders
                    </h2>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" (click)="onClick()" id="clickMe" style="float: right; margin-left: 10px;">
                        Action
                    </button>
                    <button class="btn btn-success" id="clickMe" style="float: right;height: 30px;">
                        <a [routerLink]="['/main/order-detail/0']" style="text-decoration: none; color: white;">Add New ++</a>
                    </button>
                </div>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Search" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <colgroup>
                            <col style="width: 200px;" />
                            <col style="width: 200px;" />
                            <col style="width: 150px;" />
                            <col style="width: 150px;" />
                            <col style="width: 150px;" />
                            <col style="width: 200px;" />
                            <col style="width: 150px;" />
                            <!-- cột này nhớ chỉnh lại vì set cứng cho đẹp -->
                            <col style="width: 120px;" />
                            <col style="width: 70px;" />
                            <col style="width: 70px;" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>CustomerName</th>
                                <th>ProductName</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Date</th>
                                <th>DeliveryDate</th>
                                <th>Description</th>

                                <th style="text-align: center;">Status</th>
                                <!-- <th>IsDeleted</th> -->
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders">
                                <td style="padding-top: 15px;">{{order.CustomerName}}</td>
                                <td style="padding-top: 15px;">{{order.ProductName}}</td>
                                <td style="padding-top: 15px;">{{order.Price}}</td>
                                <td style="padding-top: 15px;">{{order.Quantity}}</td>
                                <td style="padding-top: 15px;">{{order.Date | date: 'dd/MM/yyyy'}}</td>
                                <td style="padding-top: 15px;">{{order.DeliveryDate | date: 'dd/MM/yyyy'}}</td>
                                <td style="padding-top: 15px;">{{order.Description}}</td>
                                <td style="text-align: center;">
                                    <button class="btn" [disabled]="true" [ngClass]="{'btn-success':order.IsPayed, 'btn-danger': !order.IsPayed}">
                                        {{order.IsPayed?'Paid':'Not Yet'}}
                                    </button>
                                </td>
                                <td style="text-align:center;">
                                    <button class="btn btn-primary" (click)="detail(order)">
                                        <i class="fa fa-file" style="height: 25px;"></i>
                                    </button>
                                </td>
                                <td style="text-align:center;">
                                    <button class="btn btn-danger">
                                        <i class="fa fa-trash" style="height: 25px;"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>