<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="background-color: black;">
                <h2 style="color:white;">
                    Detail Of Order
                    <small>{{title}}</small>
                </h2>
            </div>
            <div class="body">
                <div class="col-md-12">
                    <h2 class="card-inside-title">Customer</h2>
                    <div class="row clearfix">
                        <select class="form-control" [(ngModel)]="order.CustomerId">
                            <option *ngFor="let customer of customers" [ngValue]="customer.Id">{{customer.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <h2 class="card-inside-title">Product</h2>
                    <div class="row clearfix">
                        <select class="form-control" [(ngModel)]="order.ProductId">
                            <option *ngFor="let product of products" [ngValue]="product.Id">{{product.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="card-inside-title">Price</h2>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" [(ngModel)]="order.Price" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="card-inside-title">Quantity</h2>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" [(ngModel)]="order.Quantity" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="card-inside-title">Date</h2>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="date" class="form-control" [(ngModel)]="order.Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="card-inside-title">Delivery Date</h2>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="date" class="form-control" [(ngModel)]="order.DeliveryDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h2 class="card-inside-title">Description</h2>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..." [(ngModel)]="order.Description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 30px;">
                    <div class="col-md-12">
                        <input type="checkbox" id="md_checkbox_40" class="filled-in chk-col-black" [(ngModel)]="order.IsPayed" />
                        <label for="md_checkbox_40" style="font-size: 20px;">Already is paid</label>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12" style="margin-left: 15px;">
                        <button type="submit" class="btn btn-info" style="margin-right: 15px; width: 105px; height: 40px;" (click)="onclick(); save()">
                            <i class="fa fa-floppy-o"></i>
                            Save
                        </button>
                        <button type="submit" class="btn btn-danger" style="margin-right: 15px;width: 105px; height: 40px;" (click)="back()">
                            <i class="fa fa-backward"></i>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4" style="margin-left: 0px; opacity: 0; background-color: lawngreen; text-align: center; padding-bottom: 10px;"
    id="successTable">
    <h2 style="color: white;">Save Successfully!!!!</h2>
</div>