<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">

  <!-- -------------- Column Center -------------- -->
  <div class="chute chute-center">

    <!-- -------------- Products Status Table -------------- -->
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary" (click)="create()">Create new Customer</button>
        <br/>
        <br/>
        <div class="panel">
          <div class="panel-heading">
            <span class="panel-title hidden-xs"> Customer status</span>
          </div>
          <div class="panel-body pn">

            <div class="col-xs-12 allcp-grid hidden-xs">

              <!-- -------------- Widget Calendar -------------- -->
              <div class="panel mbn">
                <div class="text-dark pl25 fw700 fs35">
                  Monthly Events: 2015
                </div>
                <div class="panel-body">
                  <div id="calendar" class="events-calendar">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  <!-- -------------- /Column Center -------------- -->

</section>
<!-- -------------- /Content -------------- -->