<div class="col-md-12" id="container">
    <div class="col-md-4 col-md-offset-4" id="login-area">
        <div class="col-md-12" id="header">
            <h2>Login</h2>
        </div>
        <div class="col-md-12" id="login-box">
            <h3>Username : </h3>
            <input type="text" class="form-control" title="Username" [(ngModel)]="username" />
            <h3>Password : </h3>
            <input type="password" class="form-control" pattern="123" title="Password" [(ngModel)]="password" />
        </div>
        <div class="col-md-12" id="btn-area">
            <!-- <input type="submit" class="btn btn-primary" value="Login" style="height: 50px; width: 100px;" /> -->
            <button type="button"  class="btn btn-primary" style="height: 50px; width: 100px;" (click)="login()">
                Login
            </button>
            <input type="reset" class="btn btn-primary" value="Reset" style="height: 50px; width: 100px; margin-left: 20px;" />
        </div>
    </div>
</div>