.board{
    width: 50%;
    color: rgba(0, 89, 255, 0.788);
    margin: auto;
}
button{
    color: red;
    margin-top: 20px;
    padding: 20px;
}
form{  
    text-align: center;
}
button:hover{
    background-color: bisque;
 
}