<div class="page-content">
  <div class="page-header">
    <h1>
      Booking List
    </h1>
  </div>
  <!-- /.page-header -->
  <button class="btn btn-primary" (click)="create()">New transaction </button>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      <div class="row">
        <div class="col-xs-12">
          <table id="simple-table" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="center">
                  <label class="pos-rel">
                    <input type="checkbox" class="ace" />
                    <span class="lbl"></span>
                  </label>
                </th>
                <th>Id</th>
                <th>User ID</th>
                <th>Customer ID</th>
                <th>Book ID</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Setting</th>
                <th>Delete role</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of users">
                <td class="center">
                  <label class="pos-rel">
                    <input type="checkbox" class="ace" />
                    <span class="lbl"></span>
                  </label>
                </td>
                <td>{{user.Id}}</td>
                <td>{{user.UserId}}</td>
                <td>{{user.CustomerId}}</td>
                <td>{{user.BookId}}</td>
                <td>{{user.FromDate}}</td>
                <td>{{user.ToDate}}</td>
                <td>
                  <div class="hidden-sm hidden-xs btn-group">
                   

                    <button class="btn btn-xs btn-info" (click)="detail(user)">
                      <i class="ace-icon fa fa-pencil bigger-120"></i>
                    </button>
                    <button [disabled]="user.ToDate" class="btn btn-xs btn-success" (click)="return(user)">
                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                      </button>
                  </div>
                  </td>
                  <td>
                  <div>
                    <button class="btn btn-xs btn-danger" (click)="delete(user)">
                      <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </button>

                   
                  </div>

                  <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                      <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                        <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                      </button>

                      <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                        <li>
                          <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                            <span class="blue">
                              <i class="ace-icon fa fa-search-plus bigger-120"></i>
                            </span>
                          </a>
                        </li>

                        <li>
                          <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                            <span class="green">
                              <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                            </span>
                          </a>
                        </li>

                        <li>
                          <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                            <span class="red">
                              <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.span -->
      </div><!-- /.row -->
    </div>
  </div>
</div>