<div class="form">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="form-group box">
        <label for="usr">User Id:</label>
        <input type="text" class="form-control" id="usr" [(ngModel)]="user.UserId">
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="form-group box">
        <label for="pwd">Customer Id:</label>
        <input type="" class="form-control" id="pwd" [(ngModel)]="user.CustomerId">
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="form-group box">
        <label for="pwd">Book Id:</label>
        <input type="" class="form-control" id="pwd" [(ngModel)]="user.BookId">
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="form-group box">
        <label for="pwd">From Date:</label>
        <input type="" class="form-control" id="pwd" [(ngModel)]="user.FromDate">
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="form-group box">
        <label for="usr">To Date:</label>
        <input type="text" class="form-control" id="usr" [(ngModel)]="user.ToDate">
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="form-group box">
        <label for="pwd">Password:</label>
        <input type="" class="form-control" id="pwd" [(ngModel)]="user.Password">
      </div>
    </div>

  </div>

  <div class="myBtn">
    <button class="btn btn-primary" (click)="save()">Save</button>
  </div>
</div>