.image{
    width: 100%;
    height: 390px !important;
}

.thumbnail{
    margin-top: 30px;
    width: 100%;
    height: 400px;
}

.mynavbar{
    background-color: #ddf5a5;
    color: #f567e9 !important;
}

body{
    background-color: #ddf5a5
}