<section id="content" class="table-layout animated fadeIn">
    <div class="chute chute-center">
      <div class="panel" id="spy2">
        <div class="panel-heading">
          <span class="panel-title">user-list</span>
        </div>
        <div class="panel-body pn">
          <div class="table-responsive">
            <div class="bs-component">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" />
                    </th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="hidden-sm hidden-xs btn-group">
                        <button class="btn btn-xs btn-success">
                          <i class="ace-icon fa fa-check bigger-120"></i>
                        </button>
  
                        <button class="btn btn-xs btn-info">
                          <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </button>
  
                        <button class="btn btn-xs btn-danger">
                          <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>
  
                        <button class="btn btn-xs btn-warning">
                          <i class="ace-icon fa fa-flag bigger-120"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>