<section id="content" class="table-layout animated fadeIn">

  <div class="allcp-form theme-primary tab-pane mw600" id="register" role="tabpanel">
    <div class="panel">
      <div class="panel-heading">
        <span class="panel-title">
          {{title}}
        </span>
      </div>
      <!-- -------------- /Panel Heading -------------- -->

      <div method="post" action="/" id="form-register">

        <div class="panel-body pn">
          <div class="section row">
            <div class="col-md-6">
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h6 class="card-inside-title"> CMND</h6>
                    <div class="form-line">
                      <input type="text" class="form-control" [(ngModel)]="list.CMND"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h6 class="card-inside-title"> CUSTOMER NAME</h6>
                    <div class="form-line">
                      <input type="text" class="form-control" [(ngModel)]="list.CustomerName"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body pn">
          <div class="section row">
            <div class="col-md-6">
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h6 class="card-inside-title">ROOM</h6>
                    <div class="form-line">
                      <input type="text" class="form-control" [(ngModel)]="list.RoomId"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h6 class="card-inside-title">FROM DATE</h6>
                    <div class="form-line">
                      <input type="text" class="form-control" [(ngModel)]="list.FromDate" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body pn">
          <div class="section row">
            <div class="col-md-6">
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h6 class="card-inside-title">TO DATE</h6>
                    <div class="form-line">
                      <input type="text" class="form-control" [(ngModel)]="list.ToDate" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary">Thêm</button>
        </div>
        <!-- <div class="col-md-12">
          <div class="table-responsive">
            <div class="bs-component">
              <table class="table table-bordered table-hover">
                <colgroup>
                  <col width="50px" />
                  <col />
                  <col width="150px" />
                  <col width="100px" />
                  <col width="150px" />
                </colgroup>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Dịch vụ</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let inOutLine of inOut.InOutLines">
                    <td>#</td>
                    <td>
                      <input class="form-control" [(ngModel)]="inOutLine.Name" />
                    </td>
                    <td>
                      <input class="form-control" [(ngModel)]="inOutLine.Cost" />
                    </td>
                    <td>
                      <input class="form-control" [(ngModel)]="inOutLine.Quantity" />
                    </td>
                    <td>{{inOutLine.Cost*inOutLine.Quantity}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> -->
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-6 text-right">
              <button type="button" class="btn btn-default" (click)="back()">
                <i class="fa fa-arrow-circle-left"></i>
                BACK</button>
              <button class="btn btn-primary" (click)="save()">
                <i style="cursor:pointer" class="fa fa-save"></i>
                SAVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>