<section id="content" class="table-layout animated fadeIn">

  <div class="allcp-form theme-primary tab-pane mw600" id="register" role="tabpanel">
    <div class="panel">
      <div class="panel-heading">
        <span class="panel-title">
          {{title}}
        </span>
      </div>
      <!-- -------------- /Panel Heading -------------- -->

      <div method="post" action="/" id="form-register">

        <div class="panel-body pn">
          <div class="section row">
            <div class="col-md-6">
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h6 class="card-inside-title"> CMND</h6>
                    <div class="form-line">
                      <input type="text" class="form-control" [(ngModel)]="list.CMND" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h6 class="card-inside-title"> CUSTOMER NAME</h6>
                    <div class="form-line">
                      <input type="text" class="form-control" [(ngModel)]="list.CustomerName" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body pn">
          <div class="section row">
            <div class="col-md-6">
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h6 class="card-inside-title">ROOM</h6>
                    <div class="form-line">
                      <!-- <input type="text" class="form-control" [(ngModel)]="list.RoomId"/> -->
                      <select class="form-control" [(ngModel)]="list.RoomId">
                        <option *ngFor="let room of rooms" [ngValue]="room.Id">{{room.Name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h6 class="card-inside-title">FROM DATE</h6>
                    <div class="form-line">
                      <!-- <input type="text" class="form-control" [(ngModel)]="list.FromDate" /> -->
                      <label class="text-primary" >{{list.FromDate}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body pn">
          <div class="section row">
            <div class="col-md-6">
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h6 class="card-inside-title">TO DATE</h6>
                    <div class="form-line">
                      <!-- <input type="text" class="form-control" [(ngModel)]="list.ToDate" /> -->
                      <label class="text-primary" >{{list.ToDate}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-6 text-right">
              <button type="button" class="btn btn-default" (click)="back()">
                <i class="fa fa-arrow-circle-left"></i>
                BACK</button>
              <button class="btn btn-primary" (click)="save()">
                <i style="cursor:pointer" class="fa fa-save"></i>
                SAVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>