<section id="content" class="table-layout animated fadeIn">
  <div class="chute chute-center">
    <div class="panel" id="spy2">
      <div class="panel-heading">
        <span class="panel-title">DANH SÁCH TÀI KHOẢN</span>
      </div>
      <div class="panel-body pn">
        <div class="table-responsive">
          <div class="bs-component">
            <table class="table table-bordered table-hover">
              <colgroup>
                <col width="50" />
                <col width="150" />
                <col width="150" />
                <col width="100" />
                <col width="150" />
                <col/>
                <col width="100" />
                <col width="100" />
                <col width="100" />
                <col width="90" />
              </colgroup>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>TÊN TÀI KHOẢN</th>
                  <th>HỌ</th>
                  <th>TÊN</th>
                  <th>VAI TRÒ</th>
                  <th>MÔ TẢ</th>
                  <th>NGÀY TẠO</th>
                  <th>TÌNH TRẠNG</th>
                  <th>CHỈNH SỬA</th>
                  <th>XÓA</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="hidden-sm hidden-xs btn-group">
                      <button class="btn btn-xs btn-info">
                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                      </button>
                    </div>
                  </td>
                  <td>
                    <div class="hidden-sm hidden-xs btn-group">

                      <button class="btn btn-xs btn-danger">
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>