<div style="height: 2000px; width: 100%">
    <div style="margin-bottom: 30px;" class="col-md-12">
        <h1 style="margin-left: 30px;">Dashboard</h1>
        <h3 style="margin-left: 30px;">Hi, Louis Nguyễn, How are you today???</h3>
    </div>
    <br>
    <div class="col-md-12" style="height: 80px; margin-bottom: 30px;margin-left: 30px; background-color:black">
        <h2 style="color: white">
            <i class="fa fa-star" style="margin-right: 10px;"></i>Infomation</h2>
    </div>
    <div class="col-md-12" style="margin-bottom: 20px;">
        <div class="col-md-4">
            <img src="./../../assets/management/images/introduce.jpg" style="height: 400px; width: 350px;" />
        </div>
        <div class="col-md-8">
            <bar-chart></bar-chart>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="col-md-12" style="height: 80px; margin-bottom: 10px; background-color:black">
                <h2 style="color: white">
                    <i class="fa fa-star" style="margin-right: 10px;"></i>Your Top 10</h2>
            </div>
            <div class="col-md-12">
                <table class="table table-hover col-md-12">
                    <thead>
                        <tr>
                            <th class="col-md-10">Contact</th>
                            <th class="col-md-2">
                                <i class="fa fa-envelope-o"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tuấn Anh</td>
                            <td>122</td>
                        </tr>
                        <tr>
                            <td>Minh Duy</td>
                            <td>111</td>
                        </tr>
                        <tr>
                            <td>Thuận Nghĩa</td>
                            <td>92</td>
                        </tr>
                        <tr>
                            <td>Hoàng Long</td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <td>Gia Huy</td>
                            <td>66</td>
                        </tr>
                        <tr>
                            <td>Phan Trường</td>
                            <td>55</td>
                        </tr>
                        <tr>
                            <td>Quốc Dũng</td>
                            <td>52</td>
                        </tr>
                        <tr>
                            <td>Ranny</td>
                            <td>22</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-md-12" style="height: 80px; margin-bottom: 10px;margin-left: 15px; background-color:black">
                <h2 style="color: white">
                    <i class="fa fa-star" style="margin-right: 10px;"></i>Months</h2>
            </div>
            <div class="col-md-12">
                <line-chart></line-chart>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="col-md-12" style="height: 80px; margin-bottom: 10px; background-color:black">
                <h2 style="color: white">
                    <i class="fa fa-star" style="margin-right: 10px;"></i>My Profile</h2>
            </div>
            <div class="col-md-12" style="border: 2px solid black; border-radius: 10px;">
                <div class="col-md-12" style="margin-bottom: 20px; margin-top: 10px;">
                    <img src="./../../assets/management/images/handsome1.jpg" style="height: 150px; width: 280px;" />
                </div>
                <div style="padding-left: 20px;">
                    <table class="table table-hover">
                        <tr>
                            <td>Name : Nguyễn Tuấn Anh</td>
                        </tr>
                        <tr>
                            <td>Age : 20</td>
                        </tr>
                        <tr>
                            <td>Hobbies : Football, Coding, Learning new things...</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="./../../assets/management/images/human.jpg" style="height: 400px; width: 350px;" />
        </div>
        <div class="col-md-4">
            <div class="col-md-12" style="height: 80px; margin-bottom: 10px; background-color:black">
                <h2 style="color: white">
                    <i class="fa fa-star" style="margin-right: 10px;"></i>Certification</h2>
            </div>
            <table class="table table-hover">
                <tbody style="display: inline-block;">
                    <tr>
                        <td>- Graduated Ngo Tat To Secondary School</td>
                    </tr>
                    <tr>
                        <td>- Graduated Nguyen Thi Dieu High School</td>
                    </tr>
                    <tr>
                        <td>- Have Done 2 Pront-end Projects</td>
                    </tr>
                    <tr>
                        <td>- Have a highest level of English Communication</td>
                    </tr>
                    <tr>
                        <td>- Got RED score in LAB C at university</td>
                    </tr>
                    <tr>
                        <td>- Got RED score in LAB Java at university</td>
                    </tr>
                    <tr>
                        <td>- Got RED score in LAB Java Desktop at university</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12" style="padding-top: 50px;">
        <map-chart></map-chart>
    </div>

</div>