<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">

  <!-- -------------- Column Center -------------- -->
  <div class="chute chute-center">

    <!-- -------------- Products Status Table -------------- -->
    <div class="row">
      <div class="col-xs-12">
        <div class="panel">
        
          <div class="panel-body pn">
            <div class="row">
              <div class="col-sm-6 col-xl-3">
                  <div class="panel panel-tile">
                      <div class="panel-body">
                          <div class="row pv10">
                              <div class="col-xs-5 ph10"><img src="assets/AutoHintTheme/img/pages/clipart0.png"
                                                              class="img-responsive mauto" alt=""/></div>
                              <div class="col-xs-7 pl5">
                                  <h6 class="text-muted">ORDER MANAGEMENT</h6>

                                  <h2 class="fs50 mt5 mbn">{{numOfOrder}}</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-xl-3">
                  <div class="panel panel-tile">
                      <div class="panel-body">
                          <div class="row pv10">
                              <div class="col-xs-5 ph10"><img src="assets/AutoHintTheme/img/pages/clipart1.png"
                                                              class="img-responsive mauto" alt=""/></div>
                              <div class="col-xs-7 pl5">
                                  <h6 class="text-muted">PRODUCT LAUNCHED</h6>

                                  <h2 class="fs50 mt5 mbn">{{numOfProduct}}</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-xl-3">
                  <div class="panel panel-tile">
                      <div class="panel-body">
                          <div class="row pv10"[routerLink]="['/main/customer-list']">
                              <div class="col-xs-5 ph10"><img src="assets/AutoHintTheme/img/pages/clipart2.png"
                                                              class="img-responsive mauto" alt=""/></div>
                              <div class="col-xs-7 pl5" >
                                  <h6 class="text-muted">CUSTOMER MANAGEMENT</h6>

                                  <h2 class="fs50 mt5 mbn">{{numOfCustomer}}</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-xl-3">
                  <div class="panel panel-tile">
                      <div class="panel-body">
                          <div class="row pv10">
                              <div class="col-xs-5 ph10"><img src="assets/AutoHintTheme/img/pages/clipart3.png"
                                                              class="img-responsive mauto" alt=""/></div>
                              <div class="col-xs-7 pl5">
                                  <h6 class="text-muted">ROLE MANAGEMENT</h6>

                                  <h2 class="fs50 mt5 mbn">256</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


          </div>
        </div>
      </div>
    </div>



  </div>
  <!-- -------------- /Column Center -------------- -->

</section>
<!-- -------------- /Content -------------- -->