<section id="content" class="table-layout animated fadeIn">
  <div class="chute chute-center">
    <div class="panel" id="spy2">
      <div class="panel-heading">
        <span class="panel-title">role-list</span>
      </div>
      <div class="panel-body pn">
        <div class="table-responsive">
          <div class="bs-component">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="center">
                    <input type="checkbox" />
                  </th>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let role of roles">
                  <th class="center">
                    <label class="pos-rel">
                      <input type="checkbox" class="ace" />
                      <span class="lbl"></span>
                    </label>
                  </th>
                  <td>{{role.Id}}</td>
                  <td>{{role.Name}}</td>
                  <td>{{role.Description}}</td>
                  <td>
                    <div class="hidden-sm hidden-xs btn-group">
                      <button class="btn btn-xs btn-info">
                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                      </button>

                      <button class="btn btn-xs btn-danger">
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>